body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#myTable {
    font-size: 13px;
    width: 100%;
    table-layout: fixed;
}

#myTable th {
    font-size: 0.85rem;
    font-weight: 600;
}

#myTable td {
    font-size: 0.9rem;
    line-height: 1.4;
}

.wrap {
    white-space: normal !important;
}

@media (max-width:768px) {

    #myTable th,
    #myTable td {
        font-size: 0.8rem;
    }
}

/* samakan padding header & body */
.dataTables_scrollHead th,
.dataTables_scrollBody td {
    padding: 8px 10px;
    border: 1px solid #dee2e6;
    vertical-align: middle;
}

/* hilangkan double border atas */
.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom: none !important;
}

/* hilangkan double border bawah */
.dataTables_scrollBody table {
    border-top: none !important;
}